body{
    min-height: 100%;
}

.naveg {
    background-color: black;
    min-height: 10vh;
}

.naveg>div>a {
    width: 90px;
    height: 38px;
    font-size: 12px !important;
    font-weight: bold !important;
}

.carrousel {
    background-color: rgb(71, 66, 66);
    min-height: 10vh;
}

main{
    min-height: 72vh;
    background-color:white;
}

.details main{
    min-height: 82vh;
    background-color:white;
}
footer {
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 8vh;
    background-color: beige;
}

.circle a {
    display: inline-block;
    margin: 0 10px;
    height: 50px;
}

.circle a img {
    display: block;
    margin: auto;
    border-radius: 50%;
    background-color: black;
    padding: 5px;
}

.card1{
    width: 23rem;
    min-height:27.5rem;
    background-color: rgb(187, 187, 187);
    border-radius: 22px;
}

.card1>img, .card-details img {
    box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.5);
}

.card1 a {
    box-shadow: -10px -5px 5px rgba(0,0,0,0.2) !important;
}

p{
    margin:0 !important;
}

.search-bar{
    width: 400px !important;
}

#fname, #femail, #fmensagge{
    width: 400px;
}

#fmensagge{
    height: 100px !important;
}

tr, td{
    border: 1px solid black !important;
    height: 28px !important;
}

td{
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}

thead{
    background-color: grey;
    height: 40px;
    font-weight: 600;
    font-size: 20px;
}

.card-details{
    max-width: 600px;
    min-height: 300px;
    background-color: rgb(207, 64, 64);
}